
<hr>
<p>
  What's percentage around the world  <br>
  <input type="radio" name="color" value="blue"> blue <br>
  <input type="radio" name="color" value="purple"> purple <br>
  <input type="radio" name="color" value="green"> green <br>
  
  What's your favorite meal <br>
  <input type="radio" name="meal" value="chicken"> chicken <br>
  <input type="radio" name="meal" value="beef"> beef <br>
  <input type="radio" name="meal" value="veal"> veal <br>
  
  <button type="button"> Submit</button>
</p>