<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
<form action="/output" method="post">
  <hr>
<p>
  Did you hear what happen to the Genoa bridge ? <br>
  <input type="radio" name="bridge" value="yes"> yes <br>
  <input type="radio" name="bridge" value="no"> no <br>
  <input type="radio" name="color" value="unsure"> unsure <br>
  
  Do you think <br>
  <input type="radio" name="meal" value="chicken"> chicken <br>
  <input type="radio" name="meal" value="beef"> beef <br>
  <input type="radio" name="meal" value="veal"> veal <br>
  
   <button type="submit"> Submit</button>
</form>
</html>